streamlit==1.45.0
pandas
numpy
matplotlib
scikit-learn
openpyxl
python-dateutil
requests
plotly
pydeck
python-docx
git+https://github.com/openai/whisper.git
Flask
flask-cors
python-dotenv
mysql-connector-python
